/* Color Palette */
:root {
  --myYellow: #ffff00;
  --myLightBlue: #61dafb;
  --myBlue: #0a0af7;
  --myViolet: #ae78dc;
  --myOrange: #f74c20;
  --myGreen:  #19e72b;
  --myRed: #ff0000;
  --myWhite: #fff;
  --myBlack: #202124;
}
/* Special styles */
.yellowHighlight {
  background-color: var(--myYellow);
  color: black;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}
.link {
  text-decoration: underline;
  color: var(--myBlue);
  font-weight: bold;
}
/* Setups */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: var(--myBlack);
  color: var(--myWhite);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--myViolet);
}
h2 {
  color: var(--myGreen);
}
h3 {
  color: var(--myLightBlue);
}
li {
  list-style: none;
}
p {
  line-height: 1.4rem;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: .25rem;
}
.borderRadius {
  border-radius: 0.25rem;
}
/* Navbar */
nav {
  display: flex; 
  justify-content: 
  flex-end; 
  align-items: center; 
  flex-wrap: wrap; 
}
.navBtn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin: 4px 8px;
  border: 2px solid var(--myWhite);
  padding: 4px 8px;
}
.navBtn:hover {
  border: 2px solid green;
}
.innerContainer { 
  display: flex;
  justify-content: center; 
  align-items: center;
  border: .2rem solid var(--myGreen); 
  border-radius: 1rem;
  padding: .25rem;
  box-shadow: 
  rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, 
  rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}
/* Footer */
footer {
  text-align: center;
  margin: 2rem auto;
}
/* Posts */
.postTitle {
  color: var(--myViolet);
  text-align: center;
}
